
<style type="text/css">
    .pdt {
        display: flex;
    }
    .sidebar-pdt {
        width: 40vw;
        margin-right: 30px;
        background-color: #c1e3ff;
        padding-left: 5px;
        padding-top: 25px;
        margin-left: 0;
        height: 100vh;
        border-right: 1px solid;
        border-right-color: blue;
    }
    .dashboard-pdt{
        width: 80vw;
    }
</style>

<div class="pdt">
    <div class="dashboard-pdt">
        <div class="pdt-header">
            <h1>Portal da transparência</h1>
        </div>
        <p>
            O gráfico abaixo mostra a evolução dos gastos de cada função do governo.
        </p>
        <div id="funcao-chart" style="width:60vw;height:600px;"></div>
        <br>
        <p>
            Algum texto sobre o gráfico abaixo. Mova o slider para trocar de mês/ano.
        </p>
        <div id="ministerio-chart" style="width:60vw;height:600px;"></div>
        <hr>
    </div>
</div>
<script>
    Funcao = document.getElementById('funcao-chart');
    fig = JSON.parse('{{funcao | safe}}')
    data   = fig.data
    layout = fig.layout
	Plotly.newPlot(
        Funcao, data, layout
    );
</script>
<script>
	Mins = document.getElementById('ministerio-chart');
	Plotly.newPlot(
        Mins,
        {{ministerio | safe}}
    );
</script>
